<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>398993920004-sbdd5e9nsbjq6oretn35phdqq4i8t9if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398993920004-sbdd5e9nsbjq6oretn35phdqq4i8t9if</string>
	<key>API_KEY</key>
	<string>AIzaSyBJhHOHnkhsbis-UF7HB1y19v-pw-kVYAg</string>
	<key>GCM_SENDER_ID</key>
	<string>398993920004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Quarks.Importing-JSON-to-FireBase</string>
	<key>PROJECT_ID</key>
	<string>import-json-to-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>import-json-to-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398993920004:ios:be69c582d70547e2</string>
	<key>DATABASE_URL</key>
	<string>https://import-json-to-firebase.firebaseio.com</string>
</dict>
</plist>